.game-search-results {
    padding: 20px;
}

.game-search-results h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.game-search-results ul {
    list-style: none;
    padding: 0;
}

.game-search-results li {
    padding: 10px;
    border-bottom: 1px solid #807f7f;
    cursor: pointer;
}

.game-search-results li:hover {
    background-color: #ffffff;
}